body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.header {
  background: linear-gradient(51.78deg, #5540BF 28.44%, #AFA1F9 99.76%);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding-top: 40px;
  text-decoration: none;
  color: #fff;
}
.navbar-menu {
  padding-top: 40px;
}
.navbar-menu__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  margin-left: 31px;
}